#pragma once
#define WIFI_SSID "YOUR_2_4GHZ_WIFI_NAME"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define SERVER_BASE_URL "https://www.melxhealth.com"
#define ENV_API_KEY "PASTE_DEVICE_API_KEY"
#define ENV_DEVICE_ID "ENV-001"
#define FACILITY_ID "1"
#define BED_ID "PASTE_ACTUAL_BED_ID"
#define TZ_INFO "UTC0"
